<div>
    <h2>Quotes</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of quotes">
                <td>{{ booking.eventDate | date }}</td>
                <td>{{ booking.venueName }}</td>
                <td>{{ booking.venueCity }}</td>
                <td>{{ booking.venueState }}</td>
                <td>{{ booking.eventQuotedAmount | currency:'USD':true:'1.2-2' }}</td>
                <td><button class="btn btn-primary" (click)="onSelect(booking)">View</button></td></tr>
        </tbody>
        
    </table>
</div>

<div>
    <h2>Bookings</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td>{{ booking.eventDate | date }}</td>
                <td>{{ booking.venueName }}</td>
                <td>{{ booking.venueCity }}</td>
                <td>{{ booking.venueState }}</td>
                <td>{{ booking.eventQuotedAmount | currency:'USD':true:'1.2-2' }}</td>
                <td><button class="btn btn-primary" (click)="onSelect(booking)">View</button></td></tr>
        </tbody>

    </table>
</div>
<div>
   <booking-detail [booking]="selectedBooking"></booking-detail> 
</div>