<div class="container" *ngIf="booking">
    <h2>Booking Detail - {{ booking.key }}</h2>


    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-bookmark-o"></i> Promoter</ng-template>
            <ng-template ngbTabContent>
               
                <div class="table-responsive panel">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td class="text-primary"><i class="fa fa-user"></i> Name</td>
                                <td>{{ booking.promoterName}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-mobile"></i> Cell</td>
                                <td>{{ booking.promoterNumber}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Email</td>
                                <td>{{ booking.promoterEmail}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    
                    
               
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-building"></i> Venue</ng-template>
            <ng-template ngbTabContent>
                <div class="table-responsive panel">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-primary"><i class="fa fa-user"></i> Name</td>
                                <td>{{ booking.venueName}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-mobile"></i> Address</td>
                                <td>{{ booking.venueAddress}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> City</td>
                                <td>{{ booking.venueCity}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> State</td>
                                <td>{{ booking.venueState}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Website</td>
                                <td>{{ booking.venueWebsite}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Age Restriction</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-calendar"></i> Event</ng-template>
            <ng-template ngbTabContent>
                <div class="table-responsive panel">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-primary"><i class="fa fa-user"></i> Date</td>
                                <td>{{ booking.eventDate | date:'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-mobile"></i> Time</td>
                                <td>{{ booking.eventTime}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Quoted Amount</td>
                                <td>{{ booking.eventQuotedAmount | currency:'USD':true:'1.2-2' }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Final Amount</td>
                                <td>{{ booking.eventFinalAmount | currency:'USD':true:'1.2-2' }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Dancers</td>
                                <td>{{ booking.includeDancers }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Merch Booth</td>
                                <td>{{ booking.includeMerchBooth }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary"><i class="fa fa-envelope-o"></i> Funded</td>
                                <td>{{ booking.isFunded}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-list-alt"></i> Instructions</ng-template>
            <ng-template ngbTabContent>
                <div class="table-responsive panel">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-primary"><i class="fa fa-user"></i> Instructions</td>
                                <td>{{ booking.specialInstructions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-sticky-note"></i> Notes</ng-template>
            <ng-template ngbTabContent>
                <div class="table-responsive panel">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let note of booking.notes">
                                <td class="text-primary" style="width:15%"><i class="fa fa-calendar"></i> {{ note.createdDate | date:'dd/MM/yyyy' }}</td>
                                <td class="text-primary" style="width:10%"><i class="fa fa-user"></i> {{ note.createdUserName}}</td>
                                <td class="text-left">{{ note.textValue}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>